<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Frontend B</title>
</head>
<body>
    <h1>Frontend B</h1>
    <button onclick="getData()">Get Data</button>
    <p id="receivedData">No message yet</p>

    <script>
        function getData() {
            fetch('/get-data')
            .then(response => response.json())
            .then(data => {
                console.log('Data received from server:', data);
                if (data && data.message) {
                    document.getElementById('receivedData').innerText = 'Received message: ' + data.message;
                } else {
                    document.getElementById('receivedData').innerText = 'No message received';
                }
            });
        }
    </script>
</body>
</html>
